#---
#Checks: >
#  -*,
#  bugprone-*,
#  performance-*,
#  clang-analyzer-*,
#  readability-*,
#  modernize-*,
#  -modernize-use-auto,
#  -modernize-use-trailing-return-type,
#  -modernize-use-nodiscard,
#  -modernize-pass-by-value,
#  -readability-identifier-naming,
#  -readability-magic-numbers,
#  -readability-function-cognitive-complexity
#WarningsAsErrors: ''
#HeaderFilterRegex: '^(?!.*(Modules/thirdparty|ThirdParty)/).*'
#...
