.idea
build
cmake-build-debug
cmake-build-debug-clang
cmake-build-*
Draft
ThirdParty
!Modules/thirdparty/
!Modules/thirdparty/**

Examples/project/player/Hardware/*.PrjPcbStructure
Examples/project/player/Hardware/*/*.PrjPcbStructure
Examples/project/player/Hardware/*/*.Harness
Examples/project/player/Hardware/*/History/*
Examples/project/player/Hardware/*/__Previews
Examples/project/player/Hardware/*/Project Logs for *
Examples/kernel/rtos/qemu/build-*/
Examples/kernel/rtos/qemu/qemu-ci.log
Examples/kernel/rtos/qemu/qemu-ci.err.log
Examples/kernel/posix/qemu/qemu-ci.log
Examples/kernel/posix/qemu/qemu-ci.err.log
Examples/kernel/posix/qemu/qemu-ci.debug.log
Examples/kernel/posix/qemu/qemu-ci.tmp.log
Examples/kernel/posix/qemu/qemu-ci.tmp.err
Examples/kernel/posix/qemu/ci-wrapper.out
_tmp/*
Examples/posix/elf_samples/out/
