# OpenOCD config for STM32H747 + CMSIS-DAP (SWD)

source [find interface/cmsis-dap.cfg]
source [find target/stm32h7x.cfg]
#source [find target/stm32h7x_dual_bank.cfg]

#adapter driver cmsis-dap
adapter speed 500

transport select swd

#reset_config srst_only srst_nogate connect_assert_srst

#reset_config srst_only
